@import '../../../../utils/styles/all';

#EarnGraphic {
  .cls-1 {
    fill: url(#linear-gradient);
  }

  .cls-2 {
    fill: #fff;
  }

  .cls-3, .cls-8 {
    fill: #5d598d;
  }

  .cls-3 {
    opacity: 0.7;
  }

  .cls-4 {
    fill: #746fb0;
  }

  .cls-5 {
    fill: #b2b9be;
  }

  .cls-6 {
    fill: url(#linear-gradient-2);
  }

  .cls-7 {
    fill: #1dc4bd;
  }

  .cls-9 {
    fill: #908cc0;
  }

  .cls-10 {
    fill: #aca9d0;
  }

  .cls-11 {
    fill: #e0e3e5;
  }

  .cls-12 {
    fill: url(#linear-gradient-3);
  }

  .cls-13 {
    fill: url(#linear-gradient-4);
  }
}