@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

#Market .market-graphic-wrapper {
  -webkit-transition: all 0.5s ease 0.75s;
  -moz-transition: all 0.5s ease 0.75s;
  -ms-transition: all 0.5s ease 0.75s;
  -o-transition: all 0.5s ease 0.75s;
  transition: all 0.5s ease 0.75s;
  opacity: 0;
  margin-left: 32px;
  display: none;
  visibility: hidden; }
  @media all and (min-width: 1024px) {
    #Market .market-graphic-wrapper {
      position: absolute;
      top: 50%;
      right: 112px;
      left: calc(50% + 40px);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      display: block;
      visibility: visible; } }
  @media all and (min-width: 1280px) {
    #Market .market-graphic-wrapper {
      position: absolute;
      top: 50%;
      right: 132px;
      left: calc(50% + 104px); } }

#Market .reveal-market-graphic-wrapper {
  opacity: 1;
  margin-left: 0; }
