@import '../../../../utils/styles/all';

#MarketGraphicMobile {
  .cls-1 {
    fill: url(#mm-linear-gradient);
  }

  .cls-2 {
    fill: #fff;
  }

  .cls-3 {
    fill: #a5e7e5;
    opacity: 0.7;
  }

  .cls-4 {
    fill: #ff9f1c;
  }

  .cls-5 {
    fill: #5d598d;
  }

  .cls-6 {
    fill: #1dc4bd;
  }

  .cls-7 {
    fill: #049fe7;
  }

  .cls-8 {
    fill: #f71735;
  }
}