@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

#NoMatch404 {
  position: relative; }
  #NoMatch404 .no-match-message {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1; }
    #NoMatch404 .no-match-message .no-match-logo {
      height: 88px; }
      @media all and (min-width: 600px) {
        #NoMatch404 .no-match-message .no-match-logo {
          height: 104px; } }
    #NoMatch404 .no-match-message .no-match-header {
      font-family: 'proxima_nova_extrabold', sans-serif;
      color: white;
      border-top: 1px solid #77DCD7;
      padding-top: 16px;
      margin-top: 16px; }
      @media all and (min-width: 600px) {
        #NoMatch404 .no-match-message .no-match-header {
          font-size: 24px;
          line-height: 44px; } }
  #NoMatch404 .no-match-message:after {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 320px;
    height: 320px;
    background: #1DC4BD;
    z-index: -1; }
    @media all and (min-width: 600px) {
      #NoMatch404 .no-match-message:after {
        width: 400px;
        height: 400px; } }
  #NoMatch404 .no-match-link {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    line-height: 40px;
    background: white;
    color: #1DC4BD;
    font-family: 'proxima_nova_extrabold', sans-serif;
    padding: 0 16px;
    margin-top: 16px;
    -webkit-box-shadow: 0 10px 20px rgba(116, 111, 176, 0.19), 0 6px 6px rgba(116, 111, 176, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(116, 111, 176, 0.19), 0 6px 6px rgba(116, 111, 176, 0.23);
    box-shadow: 0 10px 20px rgba(116, 111, 176, 0.19), 0 6px 6px rgba(116, 111, 176, 0.23); }
