@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

#Faq {
  padding-top: 72px;
  position: relative; }
  @media all and (min-width: 1024px) {
    #Faq {
      padding-top: 96px;
      padding-bottom: 120px; } }
  #Faq .question-wrapper {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: white;
    width: 90%;
    max-width: 720px;
    cursor: pointer;
    padding: 16px;
    margin: 0 auto 8px auto;
    -webkit-box-shadow: 0 10px 20px rgba(116, 111, 176, 0.19), 0 6px 6px rgba(116, 111, 176, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(116, 111, 176, 0.19), 0 6px 6px rgba(116, 111, 176, 0.23);
    box-shadow: 0 10px 20px rgba(116, 111, 176, 0.19), 0 6px 6px rgba(116, 111, 176, 0.23); }
    #Faq .question-wrapper .level {
      margin-bottom: 0;
      width: 100%; }
    #Faq .question-wrapper .question-number {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      font-family: 'poppins_medium', sans-serif;
      color: #5C588D;
      border: 4px solid #1DC4BD;
      text-align: center;
      padding-top: 4px;
      width: 48px;
      height: 48px; }
    #Faq .question-wrapper .question {
      font-family: 'poppins_medium', sans-serif;
      color: #5C588D;
      max-width: 200px;
      font-size: 14px;
      line-height: 24px; }
      @media all and (min-width: 400px) {
        #Faq .question-wrapper .question {
          max-width: 220px; } }
      @media all and (min-width: 600px) {
        #Faq .question-wrapper .question {
          max-width: 400px; } }
      @media all and (min-width: 1024px) {
        #Faq .question-wrapper .question {
          font-size: 18px;
          line-height: 32px;
          max-width: 600px; } }
    #Faq .question-wrapper .level-right i {
      color: #1DC4BD; }
    #Faq .question-wrapper .answer {
      font-size: 18px;
      line-height: 32px;
      font-size: 14px;
      line-height: 24px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      padding: 16px 16px 0 16px;
      background: #f3f4f5;
      margin-top: 16px;
      display: none; }
      #Faq .question-wrapper .answer p {
        padding-bottom: 16px; }
      #Faq .question-wrapper .answer ul {
        padding-bottom: 16px;
        padding-left: 32px; }
        #Faq .question-wrapper .answer ul li {
          list-style: disc; }
    #Faq .question-wrapper .reveal-answer {
      display: block; }
  #Faq .extra-padding-on-mobile {
    height: 16px; }
    @media all and (min-width: 1024px) {
      #Faq .extra-padding-on-mobile {
        display: none; } }
