@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

#Terms {
  padding-top: 72px;
  position: relative; }
  @media screen and (min-width: 1024px) {
    #Terms {
      padding-top: 96px;
      padding-bottom: 120px; } }
