@import '../../../../utils/styles/all';

#SendMoney {
  .send-money-graphic-wrapper {
    @include transition($prop: all, $time: 0.5s, $delay: 0.75s);

    opacity: 0;
    margin-right: 32px;
    display: none;
    visibility: hidden;

    @media all and (min-width: 1024px){
      @include positionAbsolute($left: 50%, $right: 112px, $top: 50%);
      @include transform(translateY(-50%));

      display: block;
      visibility: visible;
    }

    @media all and (min-width: 1280px){
      @include positionAbsolute($left: 50%, $right: 132px, $top: 50%);
    }
  }

  .reveal-send-money-graphic-wrapper {
    opacity: 1;
    margin-right: 0;
  }
}