@import '../../../../utils/styles/all';

#SendMoneyGraphicMobile {
  .sendmoney-mobile-cls-1 {
    fill: url(#m-linear-gradient-sm);
  }

  .sendmoney-mobile-cls-2 {
    fill: url(#m-linear-gradient-sm2);
  }

  .sendmoney-mobile-cls-3 {
    fill: url(#m-linear-gradient-sm3);
  }

  .sendmoney-mobile-cls-4 {
    fill: url(#m-linear-gradient-sm4);
  }

  .sendmoney-mobile-cls-5 {
    fill: url(#m-linear-gradient-sm5);
  }
}