@import '../../../../utils/styles/all';

#SendMoneyGraphic {
  .sendmoney-cls-1 {
    fill: url(#linear-gradient-sm);
  }

  .sendmoney-cls-2 {
    fill: url(#linear-gradient-sm2);
  }

  .sendmoney-cls-3 {
    fill: url(#linear-gradient-sm3);
  }

  .sendmoney-cls-4 {
    fill: url(#linear-gradient-sm4);
  }

  .sendmoney-cls-5 {
    fill: url(#linear-gradient-sm5);
  }
}