@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

#SendMoneyGraphicMobile .sendmoney-mobile-cls-1 {
  fill: url(#m-linear-gradient-sm); }

#SendMoneyGraphicMobile .sendmoney-mobile-cls-2 {
  fill: url(#m-linear-gradient-sm2); }

#SendMoneyGraphicMobile .sendmoney-mobile-cls-3 {
  fill: url(#m-linear-gradient-sm3); }

#SendMoneyGraphicMobile .sendmoney-mobile-cls-4 {
  fill: url(#m-linear-gradient-sm4); }

#SendMoneyGraphicMobile .sendmoney-mobile-cls-5 {
  fill: url(#m-linear-gradient-sm5); }
