@import '../../../utils/styles/all';

#MobileNavBar {
  background: white;
  height: 52px;

  -webkit-box-shadow: 0 0 9px 5px rgba(93,89,141,0.20);
  -moz-box-shadow: 0 0 9px 5px rgba(93,89,141,0.20);
  box-shadow: 0 0 9px 5px rgba(93,89,141,0.20);

  .level-left {
    img {
      margin-left: 16px;
    }
  }
  .level-right {
    a {
      margin-right: 16px;
      color: $color-walateal-base;
    }
  }
  .mobile-nav-logo {
    height: 26px;
  }
}

.headroom-wrapper {
  @include positionFixed($top: 0, $left: 0, $right: 0);
  z-index: 1001;

  @media all and (min-width: 1024px){
    display: none;
  }
}