@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

#CenterAvatar {
  display: none;
  visibility: hidden; }
  @media all and (min-width: 1280px) {
    #CenterAvatar {
      position: fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(0);
      -moz-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
      -o-transform: translate(-50%, -50%) scale(0);
      transform: translate(-50%, -50%) scale(0);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      -o-transform-origin: center center;
      transform-origin: center center;
      background: rgba(1, 22, 39, 0.15);
      width: 190px;
      height: 190px;
      z-index: 100;
      text-align: center;
      opacity: 0;
      display: block;
      visibility: visible; }
      #CenterAvatar img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 8px solid white;
        margin-top: 12px; } }

@media all and (min-width: 1280px) {
  #CenterAvatar.reveal-center-avatar {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; } }
