@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@media all and (min-width: 1024px) {
  #Slides {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99; } }

#Slides .section {
  padding: 0; }
  #Slides .section .content-wrapper {
    background: white; }
    @media all and (min-width: 1024px) {
      #Slides .section .content-wrapper {
        width: 50%;
        background: none; } }
    #Slides .section .content-wrapper .content-width {
      margin: 0 auto;
      padding: 0 24px; }
      @media all and (min-width: 1024px) {
        #Slides .section .content-wrapper .content-width {
          padding: 0 0 0 40px;
          width: 320px; } }
      @media all and (min-width: 1280px) {
        #Slides .section .content-wrapper .content-width {
          padding: 0 0 0 40px;
          width: 40%;
          min-width: 440px; } }
      @media all and (min-width: 1366px) {
        #Slides .section .content-wrapper .content-width {
          padding: 0; } }
      #Slides .section .content-wrapper .content-width h3 {
        font-size: 32px;
        line-height: 56px;
        font-size: 24px;
        line-height: 44px;
        -webkit-transition: all 0.5s ease 0.3s;
        -moz-transition: all 0.5s ease 0.3s;
        -ms-transition: all 0.5s ease 0.3s;
        -o-transition: all 0.5s ease 0.3s;
        transition: all 0.5s ease 0.3s;
        font-family: 'proxima_nova_extrabold', sans-serif;
        color: #5C588D;
        text-align: center;
        margin-bottom: 16px;
        line-height: 32px;
        padding-top: 24px; }
        @media all and (min-width: 1024px) {
          #Slides .section .content-wrapper .content-width h3 {
            font-size: 56px;
            line-height: 104px;
            font-size: 44px;
            line-height: 80px;
            line-height: 44px;
            margin-bottom: 24px;
            margin-left: -32px;
            opacity: 0;
            text-align: left;
            padding-top: 0; } }
      @media all and (min-width: 1024px) {
        #Slides .section .content-wrapper .content-width .reveal-h3 {
          opacity: 1;
          margin-left: 0; } }
      #Slides .section .content-wrapper .content-width p {
        font-size: 18px;
        line-height: 32px;
        font-size: 14px;
        line-height: 24px;
        -webkit-transition: all 0.5s ease 0.3s;
        -moz-transition: all 0.5s ease 0.3s;
        -ms-transition: all 0.5s ease 0.3s;
        -o-transition: all 0.5s ease 0.3s;
        transition: all 0.5s ease 0.3s;
        text-align: center;
        padding-bottom: 24px; }
        @media all and (min-width: 1024px) {
          #Slides .section .content-wrapper .content-width p {
            font-size: 18px;
            line-height: 32px;
            opacity: 0;
            text-align: left;
            padding-bottom: 0;
            margin-left: -32px; } }
      @media all and (min-width: 1024px) {
        #Slides .section .content-wrapper .content-width .reveal-p {
          opacity: 1;
          margin-left: 0; } }
  #Slides .section .mobile-content-image {
    position: relative;
    padding: 20px 20px 20px 0; }
    @media all and (min-width: 1024px) {
      #Slides .section .mobile-content-image {
        display: none; } }
    #Slides .section .mobile-content-image .pixel-mobile-profile {
      position: absolute;
      top: 50%;
      bottom: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 50%;
      margin-left: -64px;
      margin-top: -32px; }
      @media all and (min-width: 600px) {
        #Slides .section .mobile-content-image .pixel-mobile-profile {
          margin-left: -96px; } }
    #Slides .section .mobile-content-image .pixel-mobile-profile.add-extra-margin-mobile {
      margin-top: -32px; }
      @media all and (min-width: 600px) {
        #Slides .section .mobile-content-image .pixel-mobile-profile.add-extra-margin-mobile {
          margin-top: -56px; } }
  #Slides .section .mobile-content-image.tealBg {
    background: #1DC4BD url("../../../utils/images/african-texture.png") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }
  #Slides .section .mobile-content-image.blueBg {
    background: #049FE7 url("../../../utils/images/african-texture.png") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }
  #Slides .section .mobile-content-image.purpleBg {
    background: #746FB0 url("../../../utils/images/african-texture.png") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }

#Slides .pixel-wrapper {
  position: absolute;
  top: 50%;
  left: calc(50% - 136px);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 50;
  width: 50%;
  display: none;
  visibility: hidden; }
  @media all and (min-width: 1024px) {
    #Slides .pixel-wrapper {
      display: block;
      visibility: visible; } }
  @media all and (min-width: 1280px) {
    #Slides .pixel-wrapper {
      position: absolute;
      top: 50%;
      left: calc(50% + 24px); } }
  #Slides .pixel-wrapper .pixel {
    -webkit-transition: all 0.5s ease 0.5s;
    -moz-transition: all 0.5s ease 0.5s;
    -ms-transition: all 0.5s ease 0.5s;
    -o-transition: all 0.5s ease 0.5s;
    transition: all 0.5s ease 0.5s;
    width: 37.65625%;
    max-width: 482px;
    margin-top: 64px;
    opacity: 0; }
  #Slides .pixel-wrapper .reveal-pixel {
    opacity: 1;
    margin-top: 0; }
  #Slides .pixel-wrapper .show-pixel-on-mobile {
    display: block;
    visibility: visible; }
    @media all and (min-width: 1280px) {
      #Slides .pixel-wrapper .show-pixel-on-mobile {
        display: none;
        visibility: hidden; } }
  #Slides .pixel-wrapper .show-pixel-on-desktop {
    display: none;
    visibility: hidden; }
    @media all and (min-width: 1280px) {
      #Slides .pixel-wrapper .show-pixel-on-desktop {
        display: block;
        visibility: visible; } }

/* this is appended outside of the #Slides scope */
#fp-nav.fp-right {
  right: 26px; }

#fp-nav ul li {
  height: 32px;
  width: 24px;
  margin: 8px; }
  #fp-nav ul li a.active {
    cursor: default; }
  #fp-nav ul li a span {
    background: #E0E3E5;
    width: 8px;
    height: 8px; }
  #fp-nav ul li a.active span {
    width: 16px;
    height: 16px;
    background: #1DC4BD; }

#fp-nav ul li:hover a span {
  width: 16px;
  height: 16px;
  margin: -5px 0 0 -5px; }

#fp-nav ul li:hover a.active span {
  width: 16px;
  height: 16px; }

#fp-nav ul li .fp-tooltip.fp-right {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #1DC4BD;
  background: -moz-linear-gradient(left, #1DC4BD 0%, #746FB0 100%);
  background: -webkit-linear-gradient(left, #1DC4BD 0%, #746FB0 100%);
  background: linear-gradient(to right, #1DC4BD 0%, #746FB0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 );
  right: 88px;
  padding: 0 16px;
  font-family: 'proxima_nova_extrabold', sans-serif;
  -webkit-box-shadow: 0 10px 20px rgba(116, 111, 176, 0.19), 0 6px 6px rgba(116, 111, 176, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(116, 111, 176, 0.19), 0 6px 6px rgba(116, 111, 176, 0.23);
  box-shadow: 0 10px 20px rgba(116, 111, 176, 0.19), 0 6px 6px rgba(116, 111, 176, 0.23); }

.fullpage-wrapper {
  z-index: 10; }
